<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia | Contacto</title>
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body class="contact">
  <header class="header__horizontal">
    <nav class="menu">
        <ul>
            <li><a href="/">| HOME |</a></li>
            <li><a href="/about">ABOUT |</a></li>
            <li><a href="/music">MUSIC |</a></li>
            <li><a href="/contact">CONTACT |</a></li>
        </ul>
    </nav>
        <nav>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-spotify"></i></a>
            <a href=""><i class="fab fa-apple"></i></a>
            <a href=""><i class="fab fa-amazon"></i></a>
            <a href=""><i class="fab fa-instagram-square"></i></a>
        </nav>
    </header>
    <main>
        <h1>CONTACT //</h1>
        <section>
            <h3>we are fa-header</h3>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.0168881864006!2d-58.38414532477139!3d-34.60373445749812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4aa9f0a6da5edb%3A0x11bead4e234e558b!2sObelisco!5e0!3m2!1ses!2sar!4v1686872703423!5m2!1ses!2sar"
                height="600" style="border:0;" allow="fullscreenallowfullscreen" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section>
            <h3>contact info</h3>
            <article>
                <h4>MANAGEMENT | Karen Blanche </h4>
                <p><b>email: </b><a href="mailto:info@mysite.com">info@mysite.com</a></p>
                <p><b>phone: </b><a href="tel:+5491134016800">+54 9 11 3401-6800</a></p>
            </article>
            <article>
                <h4>BOOKING | Daniel Ku  </h4>
                <p>
                  <b>email: </b><a class= "dataInfo" href="mailto:info@mysite.com">info@mysite.com</a>
                </p>
                <p>
                  <b>phone: </b><a class= "dataInfo" href="tel:+123-456-7890"> 123-456-7890</a> 
                </p>
              </article>
              <article>
                <h4>LABEL | Wix Records, Jake Coldham  </h4>
                <p>
                  <b>email: </b><a href="mailto:info@mysite.com">info@mysite.com</a>
                </p>
                <p>
                  <b>phone: </b><a href="tel:+123-456-7890"> 123-456-7890</a> 
                </p>
              </article>
              <article>
                <h4>PR | That Girl Pr, Sarah Brookstone  </h4>
                <p>
                  <b>email: </b><a href="mailto:info@mysite.com">info@mysite.com</a>
                </p>
                <p>
                  <b>phone: </b><a href="tel:+123-456-7890"> 123-456-7890</a> 
                </p>
              </article>
        </section>
    </main>
</body>

</html>